// Colors
$blue:#4e99d1;
$yellow:#e2e464;
$red:#db4f50;
$grey:rgba(#000, .6);
$bg-dark:#444;

// Fonts
$font1: Monaco, 'Lucida Console', monospace;
$font2: 'CenturyGothicProCyr-Regular', 'Century Gothic', Helvetica, Arial, sans-serif;

// Measurements
$golden:1.61803398875;
$content-width:1000px;

  
@font-face {
  font-family: 'CenturyGothicProCyr-Regular';
  src: url('/fonts/CenturyGothicProCyr-Regular.eot?#iefix') format('embedded-opentype'),  url('/fonts/CenturyGothicProCyr-Regular.otf')  format('opentype'),
       url('/fonts/CenturyGothicProCyr-Regular.woff') format('woff'), url('/fonts/CenturyGothicProCyr-Regular.ttf')  format('truetype'), url('/fonts/CenturyGothicProCyr-Regular.svg#CenturyGothicProCyr-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Base

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
  margin:0;
  font-family:$font2;
  background-color:$bg-dark;
}

p {
  font-family:$font2;
  line-height:21px;
  font-size:18px;
  color:rgba(#000, .7);

  &.bigger {
    font-size:21px;
    line-height:30px;
  }

  a {
    color:$blue;

    &:hover {
      text-decoration:underline;
    }
  }
}

a {
  color:$grey;
  text-decoration:none;
}

h1 {
  font-family:$font1;
  font-size:36px;
  color:$blue;
  font-weight:normal;
}

label {
  font-weight:normal ! important;
}

#toplinks {
  font-size:30px;
  height:175px;
  margin:0 auto;
  padding:20px 0;
  text-align:center;

  ul {
    padding-left:0;

    li {
      display:inline-block;
      list-style:none;
      position:relative;
      width:110px;

      a {
        color:#fff;
        text-decoration:none;
        opacity:.8;

        &:hover {
          opacity:1;
        }

        &.index-toplinks-middle {
          position:absolute;
          left:24px;
          bottom:-55px;
        }
      }

      img {
        width:75px;
        height:75px;
        vertical-align:middle;
        margin:0 30px;
      }
    }
  }
}

#index-toplinks {
  @extend #toplinks;
  left:50%;
  margin-left:-292px;
  position:absolute;
  z-index:3;
  width:584px;
}

#mainscreen-container {
  background-image:url("/images/girlphone.jpg");
  background-size:cover;
  height:100vh;
  width:100%;
  top:0;
  bottom:0;
  border-bottom:5px solid #fff;
}

.index-bluecover {
  position:absolute;
  background-color:rgba(#103d5f, 0.55);
  width:100%;
  height:100%;
  z-index:1;
}

.background {

  &.blue {
    background-color:$blue;

    h1 {
      color:rgba(#fff, .95);
    }
  }
}

.text-center {
  text-align:center;
}

.main-column {
  position:relative;
  width:$content-width;
  margin:auto;
  z-index:2;
  height:100%;
  min-height:680px;
}

.index-centerbox {
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color:#fff;
  left:50%;
  position:absolute;
  max-height:350px;
  top:49%;
  transform: translate(-50%, -50%);
  width:764px;

  h1 {
    font-family:$font1;
    color:#fff;
    font-weight:normal;
    font-size:108px;
    margin:0 0 0 -7px;
  }

  p {
    font-size:36px;
    margin-top:10px;
    color:#fff;
    line-height:40px;
  }

}

.emailwrap {
  font-family:$font1;
  font-size:24px;
  position:relative;
  left:0;
  bottom:0;

  label, input[type=email] {
    font-size:24px;
    font-family:$font1;
    color:#fff;
    margin-right:10px;
  }

  form {
    display:inline-block;
  }

  input[type=email] {
    background:none;
    border:none;
    color:transparent;
    margin-right:0;
    outline:none;
    text-shadow:0px 0px 0px #fff;
    width:520px;
  }
}

.clients {
  color:#fff;
  padding:50px 0 75px 0;
  width:$content-width;
  margin:0 auto;
}

.clients-titlewrap {
  margin-bottom:67px;
}

.clients-title {
  font-family:$font1;
  font-size:96px;
  display:inline-block;
  width:405px;
  margin-right:20px;
}

.clients-sub {
  display:inline-block;
  bottom:0;
  font-size:24px;
  color:rgba(#fff, .54);
}

.clients-boxwrap {
  padding:30px 0 10px 0;
  border:{
    top:5px dashed $blue;
    bottom:5px dashed $blue;
  }
}

.clients-box {
  display:inline-block;
  width:317px;
  height:317px;
  line-height:317px;
  margin:0 10px 20px 10px;
  text-align:center;
  font-weight:bold;
  font-size:36px;
  vertical-align:middle;

  &:nth-child(3n + 1) {
    margin-left:0;
  }

  &:nth-child(3n + 3) {
    margin-right:0;
  }

  &.isidore {
    background:url('/images/clients/isidore.svg') #60aa70 center center no-repeat;
    background-size:200px 37px;
  }

  &.wehox {
    background-color:#333;
  }

  &.clockshop {
    background:url('/images/clients/clockshop.svg') #242424 center center no-repeat;
    background-size:200px 60px;
  }

  &.ciclavia {
    background:url('/images/clients/ciclavia.svg') #1ca4de center center no-repeat;
    background-size:200px 60px;
  }

  &.myfigueroa {
    background-color:#002c73;
    color:#e6b00e;
  }

  &.futureofcities {
    background-color:#fff;
    color:#000;
    font-size:24px;
  }
}

.team-background {
  background-color:#fff;
  width:100%;
}

.team-sky {
  background-color:$blue;
  position:relative;

  svg {
    position:relative;
    display:block;
    margin:auto;
    z-index:2;
  }
}

.team-underline {
  background-color:#333;
  bottom:0;
  height:3px;
  position:absolute;
  width:100%;
  z-index:1;
}

.team-member {
  margin-bottom:100px;
}

.team-left, .team-right {
  box-sizing:border-box;
  display:inline-block;
  float:left;
}

.team-left {
  width:100% - (100 / $golden);
  padding-right:2%;
  padding-top:141px;

  img {
    width:100%;
    border-radius:2px;
  }
}

.team-right {
  width:100% / $golden;
  padding-left:2%;

  p {
    line-height:30px;
    font-size:18px;
  }
}

.team-title {
  color:$blue;
  font-size:24px;
  text-transform:uppercase;
  font-family:$font1;
  margin-bottom:10px;
}

.team-subline {
  color:$grey;
  font-family:$font1;
  font-size:18px;
  margin-bottom:30px;
}

.team-website {
  display:inline-block;

  a {
    &:hover {
      color:darken($grey, 10%);
    }
  }
}

.team-icons {
  display:inline-block;
  float:right;

  img {
    width:30px;
    vertical-align:middle;

    &:hover {
      cursor:pointer;
    }
  }
}

.team-website {
  vertical-align:middle; 
}

.team-whoweare {
  position:relative;
  top:-80px;
  z-index:3;

  p {
    margin-top:50px;
    font-size:36px;
    line-height:48px;
    text-align:center;
  }
}

.about-background, {
  background-color:$blue;
  width:100%;
  padding-bottom:50px;
}

.about {
  text-align:center;
  color:#fff;

  p {
    width:655px;
    margin:50px auto;

    &.small {
      font-size:24px;
    }

    &.big {
      font-size:36px;
      line-height:48px;
    }
  }

  .line-break {
    margin:0 auto;
    background-color:lighten($blue, 10%);
  }
}

.about-computer {
  position:relative;
  font-family:$font1;
  margin-top:250px;
}

.about-code {
  top:52px;
  left:255px;
  font-size:36px;
}

.about-ideas {
  top:-67px;
  left:446px;
}

.about-data {
  left:648px;
  top:24px;
}

.about-code, .about-ideas, .about-data {
  position:absolute;
  font-size:36px;
}

.about-computertext {
  bottom:262px;
  position:absolute;
  left:50%;
  margin-left:-73px;
  font-size:30px;
}

.about-equals {
  font-size:144px;
  margin-top:29px;
}

.about-verybest {
  font-size:48px;
  font-family:$font2;
  margin-bottom:150px;
}

.about-breakdown {
  color:#fff;
  margin:200px 0;
  position:relative;

  img {
    margin-bottom:40px;
    opacity:.8;
  }

  li {
    list-style:none;
    width:33%;
    display:inline-block;
    vertical-align:top;
    text-align:center;

    dl {
      width:80%;
      max-width:382px;
      margin:0 auto;

      dt {
        font-size:36px;
        font-family:$font1;
        text-transform:uppercase;
        margin-bottom:40px;
      }

      dd {
        margin-left:0;
        font-size:21px;
        line-height:32px;
      }
    }
  }
}

.about-breakdown-community {
  position:relative;
  top:-49px;
}

.about-breakdown-data {
  position:relative;
  top:3px;
}

.about-communityimg {
  width:180px; 
}

.about-partnershipimg {
  position:relative;
  top:-27px;
  width:220px;
}

.about-dataimg {
  width:150px;
  position:relative;
  top:-27px;
}

.about-breakdown-interested {
  margin-top:20px;

  .button {
    margin-top:30px;
  }
}

.about-weare {
  text-align:center;
  font-size:48px;
  margin:200px 0;
  color:#fff;
}

#footer {
  padding:50px 0;
  color:#fff;
  border-top:1px solid rgba(#fff, .26);

  .footer-break {
    height:2px;
    background-color:#4d4d4d;
  }
}

#footer-logo {
  font-family: $font1;
  font-size:24px;
  float:left;
  height:90px;
  line-height:83px;
}

#footer-links {
  float:right;
  height:90px;
  line-height:90px;

  a {
    color:#fff;
    vertical-align:middle;

    &:hover {
      text-decoration:underline;
    }
  }

  div {
    vertical-align:top;
    height:90px;
    line-height:90px;
    display:inline-block;

    img {
      position:relative;
      vertical-align:middle;
      width:20px;
      height:20px;
      bottom:2px;
      margin-right:5px;
    }
  }
}

.footer-linkslash {
  display:inline-block;
  font-size:60px;
  color:rgba($red, 0.28);
  font-family:$font1;
}

#footer-subline {
  font-size:14px;
}

// Library

a.button {
  display:inline-block;
  background-color:#333;
  height:60px;
  line-height:54px;
  border-radius:1px;
  color:#fff;
  font-size:24px;
  padding:5px 20px;

  &:hover {
    background-color:lighten(#333, 5%);
    text-decoration:none ! important;
  }
}

.center {
  text-align:center;
}

.content {
  width:$content-width;
  margin:0 auto;
}

.contentcolumn {
  background-color:#fff;
  width:$content-width;
  margin:0 auto;
  padding:20px 0;
}

.font-red {
  color:$red;
}

.line-break {
  height:1px;
  width:100%;
  margin-bottom:30px;
  background-color:rgba(#000, .26);

  &.margins {
    margin:50px 0;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.margin-top {
  margin-top:20px;
}

.margin-bottom {
  margin-bottom:20px;
}

.red {
  color:$red;
}

.books {
}

.book {
  dl {
    margin-top:30px;

    dt {
      font-size:24px;
      color:#fff;
      margin-bottom:10px;

      a {
        color:#fff;

        &:hover {
          text-decoration:underline;
        }
      }
    }

    dd {
      margin-left:0;
      color:rgba(#000, .8);
    }
  }
}

.relative {
  position:relative;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}