%ul
  %li
    %a{ href: "/team" } TEAM

  %li
    %a{ href: "/about" } ABOUT

  %li
    %a{ href: "/" }
      %img{src: "/images/sungear.png"}

  %li
    %a{ href: "https://medium.com/@CompilerLA" } BLOG

  %li
    %a{ href: "/reading_list" } READ