.about-background
  #toplinks
    %ul
      %li
        %a{ href: "/about" } ABOUT

      %li
        %a{ href: "/" }
          %img{src: "/images/sungear.png"}

      %li
        %a{ href: "/team" } TEAM


  .main-column.about
    %p.small A compiler transforms source code into machine code, a language computers can understand.

    %p.big
      Compiler LA transforms data, code, and ideas into solutions that make life better in Los Angeles

    .about-computer
      .about-computertext compiler
      %img{ src: "images/computer.svg" }