.about-background
  #toplinks
    = haml :_nav


  .main-column.about
    %p.big{style: "margin-top:100px;"}
      Compiler LA is transforming data, code, and ideas into solutions that make life better in Los Angeles.

    .about-computer
      .about-code CODE
      .about-ideas IDEAS
      .about-data DATA
      .about-computertext compiler
      %div
        %img{ src: "images/arrows.svg" }
      %div  
        %img{ src: "images/computer.svg" }

    .about-equals =
    .about-verybest Los Angeles at its very best.

    .line-break

  .about-breakdown.clearfix
    %ul
      %li.about-breakdown-community
        %img.about-communityimg{ src: "images/community.svg" }
        %dl
          %dt Community
          %dd We use events, installations, and outreach to help foster an inclusive, collaborative, and approachable civic-tech community in Los Angeles.
      %li
        %img.about-partnershipimg{ src: "images/partnership.svg" }
        %dl
          %dt Partnership
          %dd We partner with organizations throughout the city to help build sites, apps, and technology that makes life better in Los Angeles.

        .about-breakdown-interested
          %a.button{ href: "mailto:stephen@compiler.la" } Work with us

      %li.about-breakdown-data
        %img.about-dataimg{ src: "images/data.svg" }
        %dl
          %dt Data
          %dd
            Los Angeles runs better the more it knows about itself.
            We look not only for ways to use existing data, but also for ways to produce and use new data.


  .about-weare We are creating a home <br />for civic tech in Los Angeles

