.about-background
  #toplinks
    %ul
      %li
        %a{ href: "/about" } ABOUT

      %li
        %a{ href: "/" }
          %img{src: "/images/sungear.png"}

      %li
        %a{ href: "/team" } TEAM


  .main-column.about
    %p.small A compiler transforms source code into machine code, a language computers can understand.

    %p.big
      Compiler LA is transforming data, code, and ideas into solutions that make life better in Los Angeles.

    .about-computer
      .about-code CODE
      .about-ideas IDEAS
      .about-data DATA
      .about-computertext compiler
      %div
        %img{ src: "images/arrows.svg" }
      %div  
        %img{ src: "images/computer.svg" }

    .about-equals =
    .about-verybest Los Angeles at its very best.

    .line-break

    .about-weare.clearfix
      .left
        WE ARE

      .right
        %ul
          %li making public data more accessible and understandable.
          %li bringing <span class="red">all people</span> together to solve problems and increase community engagement.
          %li creating a home for civic tech in Los Angeles.
