:javascript
  $(document).ready(function(){
    $('#email-input')
      .cursorblinker()
      .focus();
  });

#index-container
  .index-bluecover

  #index-toplinks
    %ul
      %li
        %a{ href: "#" } ABOUT

      %li
        %a{ href: "#" }
          %img{src: "/images/sungear.png"}

      %li
        %a{ href: "#" } TEAM
    

  .main-column

    .index-centerbox
      %h1 Compiler.<span class="font-red">LA</span>
      %p A civic-minded organization using tech and data to build the Los Angeles of tomorrow

      %label{for: "email"} [your] (email)>

      %form{autocomplete: "off"}
        %input#email-input{type: "text", name: "email", value: ""}
