#index-container
  .index-bluecover

  .main-column

    .index-centerbox
      %h1 Compiler.<span class="font-red">LA</span>
      %p A civic organization dedicated to improving lives in Los Angeles through technology
