!!! 5
%html
  %head
    %title= "Compiler LA"
    %meta{ :content => "A civic organization dedicated to improving lives in Los Angeles through technology", :name => "description" }
    = css :application
    = js  :application

  %body
    = yield