.background.blue
  #toplinks
    = haml :_nav

  .main-column
    %h1 Compiler Reading List
    %p.bigger Us compilers like to read. Every now and again, one of us will come upon a book that completely changes the way we look at things. As an organization dedicated to improving Los Angeles, being able to look at our city from a fresh angle every now and again is really important to us. It keeps us inspired, and we'd like to pass that inspiration on to you.
    .line-break.margins
    .books
      .book
        %dl
          %dt <a href="http://www.amazon.com/Walkable-City-Downtown-Save-America/dp/0865477728">Walkable City</a>
          %dd How downtown can save America, one step at a time

      .book
        %dl
          %dt <a href="http://www.amazon.com/Happy-City-Transforming-Through-Design/dp/0374534888/ref=sr_1_1?s=books&ie=UTF8&qid=1423158219&sr=1-1&keywords=happy+city">Happy City</a>
          %dd A globe-trotting, eye-opening exploration of how cities can—and do—make us happier people.