// Colors
$blue:#4e99d1;
$yellow:#e2e464;
$red:#ca2035;

body {
  background-color:$yellow;
  margin:0;
}

#index-container {
  background-image:url("/images/girlphone.jpg");
  background-size:cover;
  width:100%;
  height:100vh;
}